// Core Colors
$vand-metal-gold-start: #FEEEB6;
$vand-metal-gold-end: #B49248;
$vand-flat-gold: #CFAE70;
$vand-black: #1C1C1C;
$vand-white: #FFFFFF;

// Secondary Colors: Neutrals
$vand-dark-gray: #777777;
$vand-light-gray: #E4E4E4;
$vand-sand: #E0D5C0;
$vand-cream: #F5F3EF;

// Secondary Colors: Saturated
$vand-sky: #B3C9CD;
$vand-highlight: #ECB748;
$vand-oak: #946E24;
$vand-sage: #8BA18E;