$font_family-libre_cason: "Libre Cason Display", serif;
$font_family-inter: "Inter", sans-serif;
$font_family-antonio: "Antonio", sans-serif;


$vand-header-font: $font_family-libre-cason;
$vand-subheader-font: $font_family-inter;
$vand-body-font: $font_family-inter;
$vand-emphasis-font: $font_family-antonio;
