---
---

@import "style/colors";
@import "style/fonts";

// Buttons
$button-background-color: $vand_black;
$button-color: $vand_black;
$button-hover-color: $vand_white;
$button-hover-background-color: lighten($button-background-color, 10%);

// Header
$header-color: $vand_white;
$header-border-size: 2px;
$header-border-color: $vand_sand;

// Links
$link-color: $vand_black;
$link-decoration: none;
$link-hover-color: lighten($vand_black, 10%);
$link-hover-decoration: underline;

// Footer
$footer-color: $vand_black;
$footer-background-color: $vand_sand;
$footer-title-color: $vand-black;
$footer-title-font: $vand_subheader_font;
$footer-title-weight: regular;

$sub-footer-color: $vand_white;
$sub-footer-background-color: $vand_sand;

// Menu (Mobile & Desktop)
$hamburger-background-color: $vand_black;
$menu-background-color: $vand-black;
$menu-font: $vand-subheader-font;
$menu-font-color: $vand-black;
$menu-font-weight: normal;
$menu-decoration: none;
$menu-hover-decoration: underline;
$menu-active-font-color: $menu-font-color;
$menu-active-font-weight: bold;
$menu-active-decoration: none;
$menu-active-hover-decoration: none;

// Title
$title-color: $vand-flat-gold;
$title-font: $vand_header_font;
$title-font-size: 48px;

// Bootstrap 5.3.2

// 1. Include Bootstrap functions first
@import "bootstrap/functions";

// 2. Include our variable overrides here
@import "bootstrap-variables";

// 3. Include main bootstrap variables and functions
@import "bootstrap/variables";
@import "bootstrap/variables-dark";
@import "bootstrap/maps";
@import "bootstrap/mixins";
@import "bootstrap/utilities";

// 4. Include optional Bootstrap components
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/containers";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
// @import "bootstrap/buttons";
// @import "bootstrap/transitions";
// @import "bootstrap/dropdown";
// @import "bootstrap/button-group";
// @import "bootstrap/nav";
// @import "bootstrap/navbar";
// @import "bootstrap/card";
// @import "bootstrap/accordion";
// @import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
// @import "bootstrap/badge";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/list-group";
// @import "bootstrap/close";
// @import "bootstrap/toasts";
// @import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";
// @import "bootstrap/spinners";
// @import "bootstrap/offcanvas";
// @import "bootstrap/placeholders";

// 5. Include Bootstrap helpers and utilities
@import "bootstrap/helpers";
@import "bootstrap/utilities/api";

// Libraries
@import "libraries/hamburgers/hamburgers";

// Components
@import "components/type";
@import "components/page";
@import "components/header";
@import "components/footer";
@import "components/sub-footer";
@import "components/logo";
@import "components/main-menu";
@import "components/main-menu-mobile";
@import "components/hamburger";
@import "components/buttons";
@import "components/title";
@import "components/content";
@import "components/social";

// Pages
@import "pages/page-teams";
@import "pages/page-project";

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.3;
  }
}
