// Core Colors
$vand_metal_gold_start: #FEEEB6;
$vand_metal_gold_end: #B49248;
$vand_flat_gold: #CFAE70;
$vand_black: #1C1C1C;
$vand_white: #FFFFFF;

// Secondary Colors: Neutrals
$vand_dark_gray: #777777;
$vand_light_gray: #E4E4E4;
$vand_sand: #E0D5C0;
$vand_cream: #F5F3EF;

// Secondary Colors: Saturated
$vand_sky: #B3C9CD;
$vand_highlight: #ECB748;
$vand_oak: #946E24;
$vand_sage: #8BA18E;