@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Caslon+Display&display=swap');

$font_family-libre_cason: "Libre Cason Display", serif;
$font_family-inter: "Inter", sans-serif;
$font_family-antonio: "Antonio", sans-serif;


$vand_header_font: $font_family-libre-cason;
$vand_subheader_font: $font_family-inter;
$vand_body_font: $font_family-inter;
$vand_emphasis_font: $font_family-antonio;
