.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      list-style: none;
      font-size: 1rem;
      > a {
        padding: 10px 12px 10px 12px;
        display: inline-block;
        font-weight: $menu-font-weight;
        text-decoration: $menu-decoration;
        color: $menu-font-color;
        font-family: $menu-font;
        &:hover {
          text-decoration: $menu-decoration;
        }
      }
      &.active {
        > a {
          color: $menu-active-font-color;
          font-weight: $menu-active-font-weight;
          text-decoration: $menu-active-decoration;
          &:hover {
            text-decoration: $menu-active-hover-decoration;
            transition: all 225ms ease-in 0s;
          }
        }
      }
    }
  }
}
