---
layout: default
bodyClass: "page-projects"
---


<div class="container">
  <div class="row">
    {% for project in site.projects %}
    <div class="col-12 mb-3">
      <div class="project project-summary">
        <div class="project-content">
          <h1 class="project-title">
            {{project.title}}
          </h1>
          <div>
            <h3>Team:</h3>
            {% if project.team == empty %}
            <span>  TBD</span>
            {% else %}
            <span>  {{project.team}}</span>
            {% endif %}

          </div>
          <div>
            <h3>Advisors:</h3>
            {% if project.advisors == empty %}
            <span>  TBD</span>
            {% else %}
            <span>  {{project.advisors}}</span>
            {% endif %}
          </div>
          <div>
            <h3>Status:</h3><span>  {{project.status}}</span>
          </div>
          <div>
            <h3>Description:</h3>
            <p>{{ project.excerpt | markdownify | strip_html }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

